<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/color-modes.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.111.3">
        <title>Shadow Admin: Dashboard</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
        <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <!-- Favicons
            <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
            <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
            <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico"-->
            <link id="favicon" rel="shortcut icon" type="image/png" href="<%= favicon %>">
            <meta name="theme-color" content="#712cf9">


            <!-- Custom styles for this template -->
            <link href="/css/dashboard.css" rel="stylesheet">
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </symbol>
            <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
            </symbol>
            <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
            </symbol>
            <symbol id="sun-fill" viewBox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </symbol>
        </svg>

        <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
            <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle theme (auto)">
                <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
                <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                        Light
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                        Dark
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
                        Auto
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
            </ul>
        </div>


        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 brandlink" href="/"><img src="<%= favicon %>" /> Shadow</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search" -->
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="/logout">Sign out</a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <%= include('inc/navbar.ejs') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Auto Join</h1>

                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="me-2">
                                <button title="Add a channel" type="button" data-bs-toggle="modal" data-bs-target="#addChan" class="btn btn-primary btn-sm"><span class="align-text-bottom" data-feather="plus"></span></button>
                            </div>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Channel</th>
                                <th>Key</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < chankeys.length; i++) { %>
                            <tr>
                                <td><%= chankeys[i] %></td>
                                <td><small><%= db[chankeys[i]] ? db[chankeys[i]] : "No Key" %></small></td>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="me-2">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#chanSettings" data-bs-chan="<%= chankeys[i] %>" data-bs-key="<%= db[chankeys[i]] ? db[chankeys[i]] : '' %>" class="btn btn-outline-secondary btn-sm"><span class="align-text-bottom" data-feather="edit"></span></button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete" data-bs-chan="<%= chankeys[i] %>" class="btn btn-outline-danger btn-sm"><span class="align-text-bottom" data-feather="trash"></span></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
        
        <div class="modal fade" id="addChan" tabindex="-1" aria-labelledby="addChanModalLabel" aria-hidden="true">
            <form method="get" action="/autojoin">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addChanModalLabel">New Channel</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="addInputChan" class="form-label">Channel</label>
                                <div class="input-group">
                                    <span class="input-group-text">#</span>
                                    <input type="text" class="form-control" name="addInputChan" id="addInputChan">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="addInputChan" class="form-label">Key</label>
                                <input type="text" class="form-control" name="addInputKey" id="addInputKey" aria-describedby="keyHelp">
                                <div id="keyHelp" class="form-text">Key for channels that require one to join the channel.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmModalLabel">Delete</h1>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            This action cannot be undone.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="confirmDeleteButton" href="#" type="button" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="chanSettings" tabindex="-1" aria-labelledby="chanSettingsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="get" action="/autojoin">
                    <input type="hidden" id="csInputChan" name="csInputChan" />
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="chanSettingsModalLabel">Edit</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="chanSettingsInputSync" class="form-label">Key</label>
                                <input type="text" class="form-control" name="csInputKey" id="csInputKey" aria-describedby="keyHelp">
                                <div id="keyHelp" class="form-text">Key for channels that require one to join the channel.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="chanSettingsSubmitButton" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <script src="/js/feather.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
        <script src="/js/dashboard.js"></script>

        <script>
            const confirmModal = document.getElementById('confirmDelete')
            const confirmBtn   = document.getElementById('confirmDeleteButton')

            if (confirmModal) {
                confirmModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    const chan = button.getAttribute('data-bs-chan')

                    const modalTitle = confirmModal.querySelector('.modal-title')

                    modalTitle.textContent = `Delete ${chan}`
                    confirmBtn.innerHTML = `Delete ${chan}`
                    confirmBtn.href = `/autojoin?delInputChan=${chan.replace('#', '')}`
                })
            }

            const chanSettingModal = document.getElementById('chanSettings')
            const csInputChan = document.getElementById('csInputChan')
            const csInputKey  = document.getElementById('csInputKey')

            if (chanSettingModal) {
                chanSettingModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    const modalTitle = chanSettingModal.querySelector('.modal-title')
                    const chan = button.getAttribute('data-bs-chan')
                    const key  = button.getAttribute('data-bs-key')

                    modalTitle.textContent = `Edit ${chan}`
                    csInputChan.value = chan
                    csInputKey.value = key
                })
            }


        </script>
    </body>
</html>
