<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/color-modes.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.111.3">
        <title>Shadow Admin: Dashboard</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
        <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <style>
            .padbtns > button {
                margin-left: 5px;
            }
        </style>

        <!-- Favicons
            <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
            <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
            <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
            <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico"-->
            <link id="favicon" rel="shortcut icon" type="image/png" href="<%= favicon %>">
            <meta name="theme-color" content="#712cf9">


            <!-- Custom styles for this template -->
            <link href="/css/dashboard.css" rel="stylesheet">
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </symbol>
            <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
            </symbol>
            <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
            </symbol>
            <symbol id="sun-fill" viewBox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </symbol>
        </svg>

        <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
            <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle theme (auto)">
                <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
                <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                        Light
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                        Dark
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
                        Auto
                        <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                </li>
            </ul>
        </div>


        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 brandlink" href="/"><img src="<%= favicon %>" /> Shadow</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search" -->
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="/logout">Sign out</a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <%= include('inc/navbar.ejs') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">RSS: <%= chan %></h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="me-2">
                                <button title="Add a new feed" type="button" data-bs-toggle="modal" data-bs-target="#addFeed" class="btn btn-sm btn-primary"><span class="align-text-bottom" data-feather="file-plus"></span></button>
                                <button title="Delete the channel and all of it's feeds" type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete" data-bs-what="<%= chan %>" class="btn btn-sm btn-danger"><span class="align-text-bottom" data-feather="trash"></span></button>
                                <button title="Channel settings" type="button" data-bs-toggle="modal" data-bs-target="#chanSettings" class="btn btn-sm btn-secondary"><span class="align-text-bottom" data-feather="settings"></span></button>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <th>Feed</th>
                            <th>Sync Interval</th>
                            <th>Last Sync</th>
                            <th>Format</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < dbk.length; i++) { %>
                            <tr>
                                <td><a href="<%= db[dbk[i]].url %>"><%= dbk[i] %></a></td>
                                <td><%= db[dbk[i]].syncInterval %></td>
                                <td><%= gmtime(db[dbk[i]].lastSync) %></td>
                                <% if (db[dbk[i]].fetchMeta) { %>
                                <td>This feed is displayed using URLIdentifier</td>
                                <% } else { %>
                                <td><%= db[dbk[i]].format %></td>
                                <% } %>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="me-2">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#editFeed" data-bs-urlid="<%= db[dbk[i]].fetchMeta %>" data-bs-urlid-supported="<%= supportedURL(db[dbk[i]].url) %>" data-bs-autosync="<%= db[dbk[i]].autoSync %>" data-bs-feed="<%= db[dbk[i]].url %>" data-bs-name="<%= dbk[i] %>" data-bs-syncinterval="<%= db[dbk[i]].syncInterval %>" data-bs-format="<%= db[dbk[i]].format %>" class="btn btn-outline-secondary btn-sm"><span class="align-text-bottom" data-feather="edit"></span></button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete" data-bs-what="<%= dbk[i] %>" class="btn btn-outline-danger btn-sm"><span class="align-text-bottom" data-feather="trash"></span></button>
                                            <% if (db[dbk[i]].autoSync) { %>
                                            <a href="/rss?toggleAutoSync=<%= dbk[i] %>&chan=<%= chan.replace('#', '') %>" class="btn btn-outline-info btn-sm" title="Turn off auto sync time"><span class="align-text-bottom" data-feather="zap"></span></a>
                                            <% } else { %>
                                            <a href="/rss?toggleAutoSync=<%= dbk[i] %>&chan=<%= chan.replace('#', '') %>" class="btn btn-outline-info btn-sm" title="Turn on auto sync time"><span class="align-text-bottom" data-feather="zap-off"></span></a>
                                            <% } %>
                                            <% if (supportedURL(db[dbk[i]].url)) { %>
                                            <% if (db[dbk[i]].fetchMeta) { %>
                                            <a href="/rss?toggleURLPreview=<%= dbk[i] %>&chan=<%= chan.replace('#', '') %>" class="btn btn-outline-warning btn-sm" title="Turn off URL previews using URLIdentifier module."><span class="align-text-bottom" data-feather="cloud"></span></a>
                                            <% } else { %>
                                            <a href="/rss?toggleURLPreview=<%= dbk[i] %>&chan=<%= chan.replace('#', '') %>" class="btn btn-outline-warning btn-sm" title="Turn on URL previews using URLIdentifier module."><span class="align-text-bottom" data-feather="cloud-off"></span></a>
                                            <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </main>
            </div>
        </div>

        <div class="modal fade" id="addFeed" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" action="/rss-add">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addModalLabel">New Feed</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="addInputName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="addInputName" aria-describedby="addNameHelp">
                                <div id="addNameHelp" class="form-text">Name for the RSS feed.</div>
                            </div>
                            <div class="mb-3">
                                <label for="addInputURL" class="form-label">URL</label>
                                <input type="url" class="form-control" id="addInputURL" aria-describedby="addURLHelp">
                                <div id="addURLHelp" class="form-text">URL for the RSS feed.</div>
                            </div>
                            <div class="mb-3">
                                <label for="addInputFormat" class="form-label">Format</label>
                                <input type="text" class="form-control" id="addInputFormat" aria-describedby="addFormatHelp" value="%FEED%: %TITLE% [%URL%]">
                                <div id="addFormatHelp" class="form-text">
                                    Format used to display the RSS feed in the channel.
                                </div>
                                <table class="table table-sm table-borderless form-text">
                                    <thead>
                                        <tr>
                                            <th>Variable</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>%FEED%</td>
                                            <td>Name of the feed</td>
                                        </tr>
                                        <tr>
                                            <td>%TITLE%</td>
                                            <td>Title of the RSS post</td>
                                        </tr>
                                        <tr>
                                            <td>%URL%</td>
                                            <td>URL linked in the RSS post</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3">
                                <label for="addInputSync" class="form-label">Refresh Interval</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="addInputSync" aria-describedby="syncHelp" value="400" disabled>
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" id="autoSyncCheck" type="checkbox" value="" aria-label="Auto update refresh interval" checked>
                                        <label style="margin-left: 5px" class="form-check-label" for="autoSyncCheck">Auto Update</label>
                                    </div>
                                </div>
                                <div id="nameHelp" class="form-text">Refresh interval for the RSS feed in seconds.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="addSubmitButton" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="editFeed" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" action="/rss-edit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editModalLabel">Edit</h1>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="editInputFeed" />
                            <div class="mb-3">
                                <label for="editInputURL" class="form-label">URL</label>
                                <input type="url" name="editInputURL" class="form-control" id="editInputURL" aria-describedby="URLHelp">
                                <div id="URLHelp" class="form-text">URL for the RSS feed.</div>
                            </div>
                            <div class="mb-3">
                                <label for="editInputSync" class="form-label">Sync Interval</label>
                                <input type="number" name="editInputSync" class="form-control" id="editInputSync" aria-describedby="SyncHelp">
                                <div id="SyncHelp" class="form-text">Feed refresh interval in seconds.</div>
                            </div>
                            <div class="mb-3">
                                <label for="editInputFormat" class="form-label">Format</label>
                                <input type="text" name="editInputFormat" class="form-control" id="editInputFormat" aria-describedby="FormatHelp">
                                <div id="FormatHelp" class="form-text">Output format used for the channel.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="editSubmitButton" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmModalLabel">Delete</h1>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            This action cannot be undone.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="confirmDeleteButton" href="#" type="button" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <script src="/js/feather.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
        <script src="/js/dashboard.js"></script>

        <script> 
            $("#autoSyncCheck").change(function() {
                $("#addInputSync").prop('disabled', this.checked ? true : false)
            });

            const confirmModal = document.getElementById('confirmDelete')
            const confirmBtn   = document.getElementById('confirmDeleteButton')

            if (confirmModal) {
                confirmModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    const what = button.getAttribute('data-bs-what')

                    const modalTitle = confirmModal.querySelector('.modal-title')

                    modalTitle.textContent = `Delete ${what}`
                    confirmBtn.innerHTML = `Delete ${what}`
                    if (what.includes('#')) {
                        confirmBtn.href = `/rss?deleteChan=${what}`
                    } else {
                        confirmBtn.href = `/rss?deleteFeed=${what}`
                    }
                })
            }

            const editModal = document.getElementById('editFeed')
            if (editModal) {
                editModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    const feed = button.getAttribute('data-bs-feed')
                    const feedURL = button.getAttribute('data-bs-feed')
                    const syncInt = button.getAttribute('data-bs-syncinterval')
                    const format  = button.getAttribute('data-bs-format')
                    const autosync  = button.getAttribute('data-bs-autosync')
                    const name = button.getAttribute('data-bs-name')
                    const urlSupported = button.getAttribute('data-bs-urlid-supported')
                    const urlEnabled = button.getAttribute('data-bs-urlid')

                    const modalTitle = editModal.querySelector('.modal-title')
                    const modalBodyInput = editModal.querySelector('.modal-body input')

                    modalTitle.textContent = `Edit ${name}`
                    modalBodyInput.value = feed
                    
                    const formatInp = document.getElementById('editInputFormat')
                    const syncInp = document.getElementById('editInputSync')
                    const urlInp = document.getElementById('editInputURL')
                    const formatHelp = document.getElementById('formatHelp')

                    if (parseInt(autosync)) {
                        syncInp.disabled = true
                    } else {
                        syncInp.disabled = false
                    }
                
                    formatInp.value = format 
                    syncInp.value = syncInt
                    urlInp.value = feedURL

                    if (parseInt(urlEnabled)) {
                        formatInp.disabled = true
                        formatInp.value = "This feed is displayed using URLIdentifier"
                    } else {
                        formatInp.disabled = false
                    }
                })
            }
        </script>
    </body>
</html>
